* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../231025imgs/bg/bg-1.jpg) no-repeat center center;
  background-size: cover;
}

h1 {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
}
