.font {
  &-large {
    font-size: 60px;
    color: crimson;
    text-transform: uppercase;
  }
  &-medium {
    font-size: 40px;
    color: greenyellow;
  }
  &-small {
    font-size: 20px;
    color: royalblue;
  }
}
