* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
header,
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
  gap: 10px;
}

header {
  font-size: 1.5em;
  color: #10291f;
}

form input {
  padding: 0.5em;
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #eee;
}
form input::placeholder {
  color: #8c8c8c;
}

form input[type="submit"] {
  color: white;
  background: #10291f;
  border-radius: 10px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-list {
  width: 24.5%;
}
.todo {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo .todo-contents {
  flex: 1;
  padding: 0.5em 1em;
  border-bottom: 1px dotted #10291f;
  color: #2d2d2d;
}

.todo button {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.5em;
  margin-left: 0.2em;
  border: none;
  background: #ddd;
  color: #8c8c8c;
  border-radius: 3px;
  font-weight: bold;
}

.completed {
  color: #d8d8d8;
  text-decoration: line-through;
  opacity: 0.5;
}
