<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "pretendard";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "pretendard";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}
>>>>>>> d525a3dafcf877a019612c6fc588f1addd18de35
