input[type="checkbox"] :checked + div {
  height: 0px;
}

div {
  height: 600px;
  overflow: hidden;
  transition-duration: 1s;
}

li {
  list-style: none;
  float: left;
  padding: 15px;
  color: #fff;
}

li:nth-child(2n) {
  background-color: #ff0003;
}

li:nth-child(2n + 1) {
  background-color: #704112;
}

li:first-child {
  border-radius: 10px 0 0 10px;
}

li:last-child {
  border-radius: 0 10px 10px 0;
}

li:first-child > a {
  color: black;
}
