body {
  background: url(https://wallpapercave.com/wp/wp2760416.jpg) center
    center/cover no-repeat;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.weather-box {
  border: 1px solid #fff;
  padding: 50px;
  border-radius: 30px;
  background: azure;
  position: relative;
  font-family: "JalnanGothic";
}

.button {
  margin-right: 10px;
}

.button:last-child {
  margin: 0;
}
