body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #222;
}

ul,
li {
  list-style: none;
}

.gnb {
  width: 600px;
  display: flex;
  flex-direction: row;
  padding: 50px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.gnb li {
  flex: 1;
  text-align: center;
}

.gnb li a {
  font-size: 14px;
  position: relative;
}

.gnb li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  background: dodgerblue;
  width: 10px;
  height: 2px;
  /* 가운데지점에서 튀어나오게 */
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.gnb li a:hover::before {
  width: 100%;
}
