@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "KNPSKkomi-Regular00";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "KNPSKkomi-Regular00";
}
/* #root {
  text-align: center;
} */
