body {
  background: url(../231024images/event-bg.png) no-repeat center center;
  background-size: auto;
}

h1 {
  font-size: 60px;
  color: white;
}

button {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
